.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.cart-img {
  width: 150px;
}
.cart-item-image {
  width: 90%;
  align-self: center;
  margin-bottom: 2px;
}
.cart-text-container h3,
p {
  margin: 0 0 4px 0;
}
.cart-item-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}
h3 {
  margin: 0px;
}
p {
  margin: 0px;
}
.cart-item-container {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.cart-items-container {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 780px) {
  .cart-item-image {
    width: 200px;
  }
  .cart-item-container {
    width: 30%;
  }
  .cart-items-container {
    flex-direction: row;
  }
}
