.product-details-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  padding: 0px 100px;
}
.product-details-container {
  display: flex;
  width: 80%;
}

.product-detail-image {
  width: 50%;
  margin-right: 20px;
  border-radius: 10px;
}
.reviews-container {
  display: flex;
  align-items: center;
}
.rating-container-product-details {
  display: flex;
  height: 30px;
  background-color: #3b82f6;
  padding: 0px 5px;
  color: #fff;
  margin-right: 12px;
  align-items: center;
}
.star-icon {
  height: 20px;
}
.btn-container {
  display: flex;
  align-items: center;
}
.btn-container p {
  margin: 0px 10px;
}
.add-to-cart-btn {
  background-color: #3b82f6;
  padding: 5px 10px;
  border: none;
  color: #fff;
  margin-top: 10px;
}
.similar-products-container {
  align-self: flex-start;
}
.each-product-container {
  display: flex;
  list-style: none;
  padding-left: none;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.add-btn {
  border: none;
}

@media (max-width: 780px) {
  .product-details-main-container {
    padding: 20px;
  }
  .product-details-container {
    width: 100%;
    flex-direction: column;
  }
  .product-detail-image {
    align-self: center;
  }
}
